*{padding:0;margin:0;box-sizing:border-box;font-weight:normal;}
:root{
	--border-color: #555;
}
html{font-size:16px; line-height: 20px; font-family: arial, sans-serif;font-weight:400;}
body{
}
h1, h2, h3
{
	font-size: 1rem;
	line-height: 1.25em;
}

a
{
	color: #000;
	text-decoration: none;
	display: inline-block;
}
/* a:hover*/
.noTouchScreen a:hover
{
	color: #00f;
}
img{
	width: 100%;
}
video{
	width: 100%;
}
header
{
	position: fixed;
	background-color: #fff;
	top: 0;
	left: 0;
	width: 100vw;
	max-width: 100%;
	padding: 10px 100px;
	z-index: 1001;
}
input[type="text"]
{
	padding: 7px;
	font-size: 15px;
}
textarea
{
	padding: 7px;
	font-size: 15px;
}
select
{
	display: block;
	width: 50%;
	padding: 7px;
}
label + input[type="checkbox"],
label + input[type="radio"]
{
	display: inline-block;
	padding-left: 5px;
}
.backendform input[type="text"]
{
	/*width: 300px;*/
	width: 50%;
	
}
.backendform textarea
{
	width: 100%;
	height: 100px;
	
	font-family: sans-serif;
}
.backendform label + input[type="text"],
.backendform label + textarea,
.backendform label + select
{
	display: block;
	margin-top: 5px;
}
nav
{
	float: left;
	/*display: none;*/
	/*width: 100vw;*/
	/*max-width: 100%;*/
	/*position: fixed;*/
	/*top: 0;*/
	/*left: 0;*/
	/*z-index: 1000;*/
	/*background-color: #fff;*/

}
.viewing-nav nav
{
	display: block;
}
ul
{
	list-style: none;
}
button
{
	appearance: none;
	-webkit-appearance: none;
	border: none;
	background-color: transparent;
	font-size: inherit;
}
button:focus
{
	outline: #00f;
}
.container
{
	padding: 80px 20px;
	margin: 0 auto;
}
.backend-container
{
	width: 800px;
	margin: 0 auto;
	padding-left: 0;
	padding-right: 0;
}
.list-container 
{
	/*overflow: hidden;*/
}
.btn-container
{
	display: inline-block;
}
.btn-container > .btn
{
	margin-right: 8px;
	margin-bottom: 8px;
}
.btn-container > .btn:last-child
{
	margin-right: 0;
	margin-bottom: 0;
}

/* menu */
#menu-container
{
	position: fixed;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	left: 0;
	top: 0;
	height: 100vh;
	background-color: #fff;
	z-index: 1000;
	/*display: none;*/
	opacity: 0;

}
.viewing-menu #menu-container
{
	/*display: block;*/
	width: 100vw;
	max-width: 100%;
	opacity: 1;
	transition: opacity .35s;
	visibility: initial;

}
#menu-container > div
{
	/*padding-top: 10px;*/
}
#site-title
{
	/*float: left;*/
}
#nav-btn-container
{
	float: right;
}
#menu_toggle
{
	display: inline-block;
	width: 40px;
	height: 31px;
	padding: 5px;
	cursor: pointer;
}
.menu-bar
{	
	height: 3px;
	background-color: #000;
	margin-bottom: 6px;
}
.menu-bar:last-child
{
	margin-bottom: 0;
}
#menu_holder
{
	display: none;
}
.menu-item
{
	/*border-bottom: 2px solid transparent;*/
	display: inline-block;
	/*margin-bottom:5px;*/
	padding: 5px 5px 0 5px;
}

.menu-item:hover
{
	background-color: #ff0;
}
.menu-item > *
{
	vertical-align: top;
}
.menu-btn
{
	display: inline-block;
	/*margin-left: 10px;*/
	padding: 0 8px;
}
.menu-item-name
{
	display: inline-block;
	/*margin-right: 30px;*/
	font-size: 18px;
	width: 200px;
}
#search-btn
{
	display: inline-block;
	width: 80px;
	/*height: 31px;*/
	padding: 5px;
	cursor: pointer;
}
#reset-btn
{
	padding-top: 5px;
	padding-bottom: 5px;
}
.form-section
{
	margin-bottom: 30px;
}
.error-msg
{
	color: #f00;
}

.list-row
{
	/*padding-top: 10px;*/
	/*padding-bottom: 10px;*/
	border-bottom: 1px solid var(--border-color);
	border-left: 1px solid var(--border-color);
	cursor: crosshair;
}
.list-row:first-child
{
	border-top: 1px solid var(--border-color);
	cursor: default;
}
.list-title-row
{
	font-size: 12px;
	line-height: 14px;
	position: -webkit-sticky;
	position: sticky;
	top: 51px;
	border-bottom: 2px solid var(--border-color);
	background-color: #fff;
	color: var(--border-color);
}
.list-row.active
{
	background-color: #f4f4f4;
	/*border-color: #f33;*/
	box-shadow: 0px 4px 10px var(--border-color);
}
.list-cell
{
	display: inline-block;
	/*width: 100px;*/
	/*margin-right: 10px;*/
	vertical-align: top;
	border-right: 1px solid var(--border-color);
	padding: 10px;
}

.cell-id
{
	/*width: 30px;*/
}
.cell-name
{
	/*width: 130px;*/
}
.small-cell
{
	/*width: 50px;*/
}
.large-cell
{
	/*width: 130px;*/
}
.action-cell
{
	/*width: auto;*/
}

.btn
{
	display: inline-block;
	vertical-align: top;
	padding: 5px 8px;
	border-radius: 3px;
	border: 1px solid #00f;
	color: #00f;
	text-decoration: none;
	cursor:pointer;
	font-size: 13px;
	line-height: 13px;
}
.btn.alert-btn
{
	color: #f00;
	border-color: #f00;
}
.noTouchScreen .btn:hover
{
	background-color: #00f;
	color: #fff;
}
.noTouchScreen .btn.alert-btn:hover
{
	background-color: #f00;
}
.noTouchScreen .btn:active,
.btn:active
{
	background-color: #000;
	border-color: #000;
	padding-top: 5px;
	padding-bottom: 1px;

}
.home-list-row
{
	display: grid;
	grid-template-columns: 3fr 1fr 3fr 3fr 2fr 2fr 2fr 1fr;
}
#course-container .list-row
{
	display: grid;
	grid-template-columns: 1fr 3fr 2fr 2fr 2fr 3fr 1.5fr 3fr 3fr 3fr 3fr;
}
#teaching-container .list-row
{
	display: grid;
	grid-template-columns: 1fr 3fr 3fr 3fr 2fr 3fr 3fr 3fr;
}
#payment-container .list-row
{
	display: grid;
	grid-template-columns: 1fr 3fr 3fr 3fr 2fr 2fr 3fr;
}
#invoice-container .list-row
{
	display: grid;
	grid-template-columns: 1fr 3fr 3fr 3fr 2fr 2fr 3fr 3fr 3fr;
}
#class-container .list-row
{
	display: grid;
	grid-template-columns: 1fr 3fr 3fr 3fr 2fr 2fr 3fr 3fr;
}
#contact-container .list-row
{
	display: grid;
	grid-template-columns: 1fr 2fr 2fr 2fr 2fr 2fr 3fr 3fr 3fr;
}
#invitationunit-container .list-row
{
	display: grid;
	grid-template-columns: 1fr 2fr 2fr 3fr 2fr 3fr 3fr;
}
.form-checkbox-section
{
	padding: 5px 0;
}
.search-table-option
{
	display: inline-block;
	margin-right: 10px;
	margin-bottom: 5px;
}
.search-table-option:first-child
{
	margin-top: 5px;
}
.search-table-option:last-child
{
	margin-right: 0px;
}

.search-table-option .tablename
{
	display: none;
}
#search-form
{
	margin-bottom: 10px;
}
#search-form + .btn-container
{
	margin-bottom: 15px;
}
.search-form-section
{
	margin-bottom: 10px;
}
.search-form-section:last-child
{
	margin-bottom: 0px;
}
.list-filter-field-range
{
	width: 120px;
}
.search-form-section label
{
	margin-right: 10px;
}
.search-form-section input
{
	border: none;
	border-bottom: 2px solid #00f;
	background-color: #f4f4f4;
	color: #00f;
}
.search-form-section input:focus
{
	outline: none;
	background-color: #fff;
}
@media screen and (min-width: 830px){
	header
	{
		
	}
	.container
	{
		width: auto;
		margin: 0;
		padding-left: 100px;
		padding-right: 100px;
	}
	#menu_toggle
	{
		/*display: none;*/
	}
}

@media screen and (min-width: 1500px){
	.container
	{
		
	}
}